body{
background: #ffffff
}

nav {
z-index:3 ;
  padding: 10px 0;
  background-color: #000000;
margin-top: -8px;
margin-left: -8px;
margin-right: -8px

}


nav ul {
z-index:9999;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
a{
  color: white;
  text-decoration: none;
}

.a1{
  color: black;
  text-decoration: none;
}
nav ul li {
z-index:9999;
display: inline-block;
  margin-left: 20px;
  text-transform: uppercase;
}
nav ul li:first-child {
z-index:9999;
  margin-left: 0px;
    justify-content: center;
}

.Centre_Future_parent {
  z-index: -1;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
}

.Centre_Future_child {
  color: #000000;
font-size: 40PX;
width: 530px;
  z-index: 1;
  height: 70px;
text-align: center
}

.Centre_Future_child_form {
font-size: 40PX;
  z-index: -1;
  height: 550px;
    display: flex;
  justify-content: center;
  align-items: center;
}

table {
   width: 500px;
}

tr{
height: 200px
}

.block {
  z-index = -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

.btn_border{
z-index: 0;

  border-radius: 40px;
  height: 620px;
  background: #d1d1d1
}

.Centre_Registr_child_form {
font-size: 40PX;
  z-index: -1;
  height: 800px;
  width: 600px

}

.Registr{
text-align: center;
font-size: 50px;
height: 100px;
}

.Registr_text{
font-size:35px;
height: 10px
}

.Registr_form{
height: 70px;

}

.form-control1111 {
  display: block;
  width: 100%;
  height: 70px;
  padding: 0.375rem 0.75rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn_theme{
background: #E7e7e7;
border-radius: 30px;
height: 100px;
padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}