{% extends "Base.html" %}
{% block content %}

<form action="" method="post">
    {{ form.hidden_tag() }}

    <div class="Tarolog_Cards2">
        <p>{{form.autocomplete_input_theme.label}}</p>
    </div>
    <div class="Tarolog_Cards">
        <p>
            {{form.autocomplete_input_theme(list="Theme")}}
            <datalist id="Theme" class="Spisok">
                {% for entry in option2 %}
                <option value="{{ entry }}">
                    {% endfor %}
            </datalist>
        </p>
    </div>

    <div class="Tarolog_Cards2">
        <p>{{form.autocomplete_input_card.label}}</p>
        <p>{{form.autocomplete_input_card.label}}</p>
        <p>{{form.autocomplete_input_card.label}}</p>
        <p>{{form.autocomplete_input_card.label}}</p>
        <p>{{form.autocomplete_input_card.label}}</p>
    </div>

    <div class="Tarolog_Cards">

        <p>
            {{form.autocomplete_input_theme(list="Card1")}}
            <datalist id="Card1" class="Spisok">
                {% for entry in option %}
                <option value="{{ entry }}">
                    {% endfor %}
            </datalist>
        </p>


        <p>
            {{form.autocomplete_input_theme(list="Card2")}}
            <datalist id="Card2" class="Spisok">
                {% for entry in option %}
                <option value="{{ entry }}">
                    {% endfor %}
            </datalist>
        </p>


        <p>
            {{form.autocomplete_input_theme(list="Card3")}}
            <datalist id="Card3" class="Spisok">
                {% for entry in option %}
                <option value="{{ entry }}">
                    {% endfor %}
            </datalist>
        </p>


        <p>
            {{form.autocomplete_input_theme(list="Card4")}}
            <datalist id="Card4" class="Spisok">
                {% for entry in option %}
                <option value="{{ entry }}">
                    {% endfor %}
            </datalist>
        </p>


        <p>
            {{form.autocomplete_input_theme(list="Card5")}}
            <datalist id="Card5" class="Spisok">
                {% for entry in option %}
                <option value="{{ entry }}">
                    {% endfor %}
            </datalist>
        </p>
    </div>

    <div class="col-sm DISPIK">
        <p>{{ form.submit(type="submit", class="btn btn-outline-success") }}</p>
    </div>
</form>
{% if ai_resp == "None" %}
<div>
    <p>Вселенная ждет запроса</p>
</div>
{% else %}
<div>
    <p>{{ai_resp}}</p>
</div>
{% endif %}

{% endblock %}

