<!DOCTYPE html>
<html lang="en">

<head>
    <title>TarAI</title>
    <link rel="stylesheet" href="../static/css/{% block css %}{% endblock %}">
</head>
<body>
<div class="header">
    <a href="/Future" id="one">Предсказание</a>
    <a href="/" id="two"><img class="porno_logo" src="static/for_css/images/Logo.svg" alt=""></a>
    <a href="/tarot" id="three">Режим таролога</a>
    <a href="/Profile"><img src="static/for_css/images/profile.svg" alt=""></a>
</div>

{% block content %}
{% endblock %}
</body>
</html>