{% extends "Base.html" %}
{% block content %}

<div class='block'>
    <div class = 'Centre_Future_child'><h2>Тема расклада</h2>></div>
    <div class = 'Centre_Future_child_form btn_border'>
        <table>
            <tr><th></th>
                <th><div class="btn_theme"><a href="/Relation" class = 'a1'>Отношения</a></div></th>
            <th></th></tr>
            <tr><th></th>
                <th><div class="btn_theme"><a href="/Career" class = 'a1'>Карьера</a></div></th>
            <th></th></tr>
            <tr><th></th>
                <th><div class="btn_theme"><a href="/Health" class = 'a1'>Здоровье</a></div></th>
            <th></th></tr>
            <tr><th></th>
                <th><div class="btn_theme"><a href="/Study" class = 'a1'>Учеба</a></div></th>
            <th></th></tr>
        </table>
    </div>
</div>
{% endblock %}