<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TarAI</title>
    <link rel="stylesheet" href="static/css/future.css">
</head>
<body>
<img src="static/for_css/images/bord.svg" alt="" id="one1" class="bord">
<img src="static/for_css/images/bord.svg" alt="" id="two2" class="bord">
<img src="static/for_css/images/bord.svg" alt="" id="three3" class="bord">
<img src="static/for_css/images/bord.svg" alt="" id="four" class="bord">
<div class="header">
    <a href="/Future" id="one">Предсказание</a>
    <a href="/" id="two"><img class="porno_logo" src="static/for_css/images/Logo.svg" alt=""></a>
    <a href="/tarot" id="three">Режим таролога</a>
    <a href="/Profile"><img src="static/for_css/images/profile.svg" alt=""></a>
</div>
<div id="content-block">
    <p>Выберите тему</p>
    <p>расклада и предсказания</p>
    <div class="list">
        <a href="/Career" onclick="submitForm()">
            <div>Карьера</div>
        </a>
        <a href="/Health" onclick="submitForm()">
            <div>Здоровье</div>
        </a>
        <a href="/Relation" onclick="submitForm()">
            <div>Любовь</div>
        </a>
        <a href="/Study" onclick="submitForm()">
            <div>Дружба</div>
        </a>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>или введите свою:</p>
        {{ form.input_theme }}
        <div class="btns">{{ form.submit(type="submit", onclick="submitForm()") }}</div>
    </form>
</div>
<div id="loading-icon">
    <p>Вселенная складывает карты... (около 35 секунд) </p>
</div>
<script>
    document.getElementById('loading-icon').style.display = 'none';
    function submitForm() {
      // Скрыть блок контента
      document.getElementById('content-block').style.display = 'none';

      // Показать иконку загрузки
      document.getElementById('loading-icon').style.display = 'block';
      }
 </script>
</body>
</html>
