<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TarAI</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
<img src="static/for_css/images/bord.svg" alt="" id="one" class="bord">
<img src="static/for_css/images/bord.svg" alt="" id="two" class="bord">
<img src="static/for_css/images/bord.svg" alt="" id="three" class="bord">
<img src="static/for_css/images/bord.svg" alt="" id="four" class="bord">
<div class="logo">
    <a href="#"><img src="static/for_css/images/Logo.svg" alt=""></a>
</div>

<p class="heading">Войти</p>
<p class="heading">чтобы получить предсказание</p>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p class="login">Логин</p>
    {{ form.login() }}
    {% for error in form.login.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}

    <p class="login">Пароль</p>
    {{ form.password(type="password") }}
    {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}

    <div class="rembme">
        {{ form.remember_me() }}
        <label for="rembme">Запомнить меня</label>
    </div>
    <div class="btns">
        {{ form.submit(class="log", type="submit") }}
        <a href="/registr" class="reg"><span>Зарегистрироваться</span></a>
    </div>
    <div>{{ message }}</div>
</form>

</body>
</html>

