<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TarAI</title>
    <link rel="stylesheet" href="static/css/menu.css">
  </head>
  <body>
    <div class="logo">
        <a href="#"><img src="static/for_css/images/Logo.svg" alt=""></a>
    </div>
    <p class="heading">Добро пожаловать!</p>
    <p>Вселенная приветствует вас!
TarAi - универсальный инструмент для работы с картами Таро. Низкий порог вхождение обеспечивается удобством использования и понятным интерфейсом. Все для вас:3Спонсировано
</p>
    <div class="btns"> <a href="/login" class="log"><span>Попробовать</span></a></div>
    <hr>
    <p class="comand">Наша команда</p>
    <p>Анастасия @qiasotic</p>
    <p>Андрей @LordReaps </p>
    <p>Станислав @MarkZolotorev</p>
    <p>Кирилл @KiraArensky</p>
    <br><br><hr><br><br>
    <p>Приятного использования)</p>
      <br><br><br><br><br>
  </body>
</html>
