<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TarAI</title>
    <link rel="stylesheet" href="static/css/menu.css">
</head>
<body>
<header>
    <div class="logo">
        <a href="#"><img src="static/for_css/images/Logo.svg" alt=""></a>
    </div>
</header>

<main>
    <p class="heading">Добро пожаловать!</p><br><br>
    <p>Вселенная приветствует вас!
        TarAi - универсальный инструмент для работы с картами Таро. Низкий порог вхождения обеспечивается удобством
        использования и понятным интерфейсом. Все для вас:3
    </p>
    <div class="btns"><a href="/login" class="log"><span>Попробовать</span></a></div>
    <hr>
    <p class="comand">Наша команда (telegram)</p>
    <p>Анастасия <a class="tg" href="https://t.me/qiasotic">@qiasotic</a></p>
    <p>Андрей <a class="tg" href="https://t.me/Andrey0232">@Andrey0232</a></p>
    <p>Станислав <a class="tg" href="https://t.me/MarkZolo">@MarkZolo</a></p>
    <p>Кирилл <a class="tg" href="https://t.me/kshi_rar">@kshi_rar</a></p>
    <br><br>
    <hr>
    <br><br>
    <p>Хороших раскладов)</p>
    <br><br><br><br><br>
</main>
</body>
</html>
