{% extends "Base.html" %}
{% block content %}
<div class="Block_Menu">
 TarAi - универсальный помощник в гадании на картах Таро<br>
 ***Обьяснение что это такое. Накидай что нибудь***
</div>

<div class="Block_Menu">
 <img src="../static/Sirius.jpg" width="600px">
</div>

<div class="Block_Menu">
<a class="btn2" href="/login">Попробовать</a>
</div>


<div class="Block_Menu">
 <h1>Наша команда</h1>
 </div>

 <div class="Block_Menu2">
  <table class="Width">
 <tr class="Height">
  <td align="center" class="Font-Size">Кирилл</td>
  <td align="center" class="Font-Size">Андрей</td>
  <td align="center" class="Font-Size">Анастасия</td>
  <td align="center" class="Font-Size">Станислав</td>
 </tr>

 <tr class="Width">
  <td align="center"><img src="../static/Kot.jpg" width="250px"></td>
  <td align="center"><img src="../static/Kot.jpg" width="250px"></td>
  <td align="center"><img src="../static/Kot.jpg" width="250px"></td>
  <td align="center"><img src="../static/Kot.jpg" width="250px"></td>
 </tr>

   <tr class="Height">
    <td align="center">Бэкенд-раpработчик</td>
    <td align="center">Бэкенд-разработчик. Тим-лид</td>
    <td align="center">Дизайнер</td>
    <td align="center">Фронтэнд-разработчик</td>
   </tr>
  </table>
 </div>

</div>


{% endblock %}