<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TarAI</title>
    <link rel="stylesheet" href="static/css/profile.css">
</head>

<div class="header">
    <a href="/Future" id="one">Предсказание</a>
    <a href="/" id="two"><img class="porno_logo" src="static/for_css/images/Logo.svg" alt=""></a>
    <a href="/tarot" id="three">Режим таролога</a>
    <a href="/Profile"><img src="static/for_css/images/profile.svg" alt=""></a>
</div>
<div>
    <div class="row">
        <div class="col-sm">
            <img src="{{ picture }}">
        </div>
        <div class="col-sm2">
            <p>{{ login }}</p>
            <p>Имя: {{ name }}</p>
        </div>
        <br><br><br><br>
        <div class="form-group">
            <form method="post" action="{{ url_for('user') }}" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <label class="input-file">
                    {{ form.new_avatar }}
                    <span class="input-file-btn" onclick="submitForm()">Сменить аватарку</span>
                </label>
                <br>
                <button id="submit" type="submit">Сохранить</button>
            </form>
        </div>
        <br><a class="exits" href="/logout">Выйти</a><br>
    </div>
</div>
<hr>
<a href="#">Донат</a>
<hr>
</body>
<script>
    document.getElementById('submit').style.display = 'none';
    function submitForm() {
      // Показать иконку загрузки
      document.getElementById('submit').style.display = 'block';
      }
 </script>
</html>