{% extends "Base.html" %}
{% block content %}
<div>
    <div class="row">
        <div class="col-sm">
            <img src="{{ picture }}">
        </div>
        <div class="col-sm">
            <p>{{ login }}</p>
            <p>Имя: {{ name }}</p>
        </div>
        <div class="form-group">
            <form method="post" action="{{ url_for('user') }}" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {{ form.new_avatar.label }}
                <br>
                {{ form.new_avatar }}
                {% for error in form.new_avatar.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
                <br>
                <button type="submit">Change</button>
            </form>
        </div>
        <br><a style="color: darkred" href="/logout">Выйти</a><br>
    </div>
</div>
<hr>
<a href="#">Донат</a>
<hr>
{% endblock %}
