{% extends 'base.html' %}

{% block css%}profile.css{% endblock %}

{% block content %}
<div>
    <div class="row">
        <div class="col-sm">
            <img src="{{ picture }}">
        </div>
        <div class="col-sm2">
            <p>{{ login }}</p>
            <p>Имя: {{ name }}</p>
        </div>
        <br><br><br><br>
        <div class="form-group">
            <form method="post" action="{{ url_for('user') }}" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <label class="input-file">
                    {{ form.new_avatar }}
                    <span class="input-file-btn" onclick="submitForm()">Сменить аватарку</span>
                </label>
                <br>
                <button id="submit" type="submit">Сохранить</button>
            </form>
        </div>
        <br><a class="exits" href="/logout">Выйти</a><br>
    </div>
</div>
<hr>
<a href="https://yoomoney.ru/to/4100118148718990">Донат</a>
<hr>
<script>
    document.getElementById('submit').style.display = 'none';
    function submitForm() {
      // Показать иконку загрузки
      document.getElementById('submit').style.display = 'block';
      }
 </script>
{% endblock %}