<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TarAI</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
<img src="static/for_css/images/bord.svg" alt="" id="one" class="bord">
<img src="static/for_css/images/bord.svg" alt="" id="two" class="bord">
<img src="static/for_css/images/bord.svg" alt="" id="three" class="bord">
<img src="static/for_css/images/bord.svg" alt="" id="four" class="bord">
<div class="logo">
    <a href="#"><img src="static/for_css/images/Logo.svg" alt=""></a>
</div>
<p class="heading">Зарегистрироваться</p>
<p class="heading">чтобы получить предсказание</p>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p class="login">Имя</p>
    {{ form.name() }}
    {% for error in form.name.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p class="login">Логин</p>
    {{ form.login() }}
    {% for error in form.login.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p class="login">Пароль</p>
    {{ form.password(type="password") }}
    {% for error in form.password.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}

    <p class="login">Повторите пароль</p>
    <div class='Registr_form'>{{ form.password_again(type="password") }}</div>
    <br>
    {% for error in form.password_again.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <div class="rembme">
        {{ form.check() }}
        <label for="rembme"> Я
            ознакомлен(-а) с <a href="../static/rules.txt" target="_blank">Политикой конфиденциальности</a></label>
    </div>
    <div class="btns">
        <a href="/login" class="log"><span>Войти</span></a>
        {{ form.submit(type="submit", class="reg") }}
    </div>
    <div>{{ message }}</div>
</form>
</body>
</html>