{% extends "Base.html" %}
{% block content %}
<div class = 'Center_Cards'>
    <table class="Table_Card">
                <tr class="Table_Strochka">
                <td><div class='Table_Card_Content'><img src="2121.jpg"></div></td>
                <td><div class="Table_Card_Content"><img src="../ai_test/tarot_for_Andrey/{{Second_Card}}"></div></td>
                <td><div class="Table_Card_Content"><img src="../ai_test/tarot_for_Andrey/{{Third_Card}}"></div></td>
                </tr>
    </table>
</div>
{% endblock %}