<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <link rel="stylesheet" href="../static/css/taro.css">
</head>
<body>
<div class="header">
    <a href="/Future" id="one">Предсказание</a>
    <a href="/" id="two"><img class="porno_logo" src="static/for_css/images/Logo.svg" alt=""></a>
    <a href="/tarot" id="three">Режим таролога</a>
    <a href="/Profile"><img src="static/for_css/images/profile.svg" alt=""></a>
</div>

<div class='Center_Cards'>
    <table class="Table_Card">
        <tr class="Table_Strochka">
            <td align="center">
                <div class='Table_Card_Content'><img src="../static/tarot_for_Andrey/Дьявол.jpg" width="200px">
                </div>
            </td>
            <td align="center">
                <div class="Table_Card_Content"><img src="../static/tarot_for_Andrey/5мечей.jpg" width="200px">
                </div>
            </td>
            <td align="center">
                <div class="Table_Card_Content"><img src="../static/tarot_for_Andrey/7жезлов.jpg" width="200px">
                </div>
            </td>
        </tr>
        <tr class="Table_Strochka_Names">
            <td class="Taro_Name">
                <details>
                    <summary>Дьявол</summary>
                    <p>Дьявол в контексте здоровья может указывать на то, что вы можете быть подвержены соблазнам или влиянию нездоровых привычек. Это может быть предупреждением о необходимости быть осторожным и контролировать свои действия, чтобы избежать пагубных последствий для вашего здоровья. Возможно, вам следует обратить внимание на свои привычки и настроить себя на более здоровый образ жизни.</p>
                </details>
            </td>
            <td class="Taro_Name">
                <details>
                    <summary>5 мечей</summary>
                    <p>5 мечей уточняет, что в вашей текущей ситуации вы можете столкнуться с ощущением потери или предательства. Она может указывать на то, что вы чувствуете себя уязвимым или ощущаете, что вас обманывают или предают. Возможно, вам понадобится принять решение или сделать компромисс, чтобы справиться с этой ситуацией и вернуться к положительным эмоциональным состояниям.</p>
                </details>
            </td>
            <td class="Taro_Name">
                <details>
                    <summary>7 жезлов</summary>
                    <p>7 жезлов, в контексте здоровья, может означать, что вам необходимо проявлять уверенность и силу для преодоления физических или эмоциональных трудностей. Возможно, вам понадобится неистово бороться за свое здоровье или найти новые методы лечения. В этот период важно помнить о своей физической и эмоциональной выносливости.</p>
                </details>
            </td>
        </tr>
        <p>В общем, эти карты говорят о том, что вы можете столкнуться с некоторыми психологическими или физическими трудностями, связанными со здоровьем. Однако, они также указывают на необходимость принять ответственность за свое благополучие и предпринять необходимые шаги для достижения положительных изменений. Возможно, вам понадобится поддержка и помощь других людей, чтобы преодолеть эти преграды. В целом, эти карты подчеркивают важность самозаботы и борьбы за свое здоровье и хорошее самочувствие.</p>
    </table>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<div class='Center_Cards'>
    <table class="Table_Card">
        <tr class="Table_Strochka">
            <td align="center">
                <div class='Table_Card_Content'><img src="../static/tarot_for_Andrey/7чаш.jpg" width="200px">
                </div>
            </td>
            <td align="center">
                <div class="Table_Card_Content"><img src="../static/tarot_for_Andrey/Сила.jpg" width="200px">
                </div>
            </td>
            <td align="center">
                <div class="Table_Card_Content"><img src="../static/tarot_for_Andrey/3меча.jpg" width="200px">
                </div>
            </td>
        </tr>
        <tr class="Table_Strochka_Names">
            <td class="Taro_Name">
                <details>
                    <summary>7 чаш</summary>
                    <p>7 чаш в контексте вашей текущей ситуации или вопроса о здоровье может указывать на эмоциональную нестабильность или некоторую неудовлетворенность в отношениях и собственной жизни в целом. Она может говорить о том, что вы чувствуете некую неуверенность или даже печаль, связанную с вашим здоровьем или окружающей средой. Возможно, вы чувствуете себя изолированным или не поддерживаемым. Она также может указывать на необходимость обратить внимание на свои эмоциональные потребности и заботиться о своей психической благополучности.</p>
                </details>
            </td>
            <td class="Taro_Name">
                <details>
                    <summary>Сила</summary>
                    <p>Карта Сила говорит о вашей способности преодолевать проблемы и преодолевать трудности. Она указывает на вашу внутреннюю силу, мудрость и решительность. Это может означать, что вы обладаете достаточной силой, чтобы справиться с текущей ситуацией или вопросом о здоровье. Карта также может говорить о необходимости научиться управлять своими эмоциями и энергией для достижения гармонии и стабильности.</p>
                </details>
            </td>
            <td class="Taro_Name">
                <details>
                    <summary>3 меча</summary>
                    <p>3 меча указывает на возможность избежать конфликта или боли, но с некоторыми последствиями. Она может говорить о необходимости принять некоторые неприятные истины или изменить свое отношение к ситуации. В контексте вашей текущей ситуации или вопроса о здоровье, эта карта может указывать на необходимость быть честным с собой и с другими людьми, особенно о своих эмоциональных или психических трудностях. Она также может говорить о том, что вы можете найти выход из трудной ситуации, если вы будете открыты для новых понимания и готовы к изменениям.</p>
                </details>
            </td>
        </tr>
        <p>Итак, эти карты вместе указывают на нестабильность или неудовлетворенность, связанную с вашим здоровьем или текущей ситуацией. Они также говорят о вашей внутренней силе, мудрости и решительности, которые помогут вам преодолеть любые трудности. Важно быть честным с собой и с другими людьми, а также быть готовым к изменениям и новому пониманию. Это может привести к лучшему самочувствию и гармонии в вашей жизни.</p>
    </table>
</div>



</body>
</html>