{% extends 'base.html' %}

{% block css%}taro.css{% endblock %}

{% block content %}
<div class="header">
    <a href="/Future" id="one">Предсказание</a>
    <a href="/" id="two"><img class="porno_logo" src="static/for_css/images/Logo.svg" alt=""></a>
    <a href="/tarot" id="three">Режим таролога</a>
    <a href="/Profile"><img src="static/for_css/images/profile.svg" alt=""></a>
</div>

<div class='Center_Cards'>
    <p>Расклад карт на день</p><br>
    <table class="Table_Card">
        <tr class="Table_Strochka">
            <td align="center">
                <div class='Table_Card_Content'><img src="../static/tarot_for_Andrey/{{First_Card}}" width="200px">
                </div>
            </td>
            <td align="center">
                <div class="Table_Card_Content"><img src="../static/tarot_for_Andrey/{{Second_Card}}" width="200px">
                </div>
            </td>
            <td align="center">
                <div class="Table_Card_Content"><img src="../static/tarot_for_Andrey/{{Third_Card}}" width="200px">
                </div>
            </td>
        </tr>
        <tr class="Table_Strochka_Names">
            <td class="Taro_Name">
                <details>
                    <summary>{{Slovar[First_Card]}}</summary>
                    <p>{{first_ai}}</p>
                </details>
            </td>
            <td class="Taro_Name">
                <details>
                    <summary>{{Slovar[Second_Card]}}</summary>
                    <p>{{second_ai}}</p>
                </details>
            </td>
            <td class="Taro_Name">
                <details>
                    <summary>{{Slovar[Third_Card]}}</summary>
                    <p>{{third_ai}}</p>
                </details>
            </td>
        </tr>
        <p>{{general_ai}}</p>
    </table>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<div class='Center_Cards'>
    <p>Персональный расклад по вашей ауре</p><br>
    <table class="Table_Card">
        <tr class="Table_Strochka">
            <td align="center">
                <div class='Table_Card_Content'><img src="../static/tarot_for_Andrey/{{First_Card_Old}}" width="200px">
                </div>
            </td>
            <td align="center">
                <div class="Table_Card_Content"><img src="../static/tarot_for_Andrey/{{Second_Card_Old}}" width="200px">
                </div>
            </td>
            <td align="center">
                <div class="Table_Card_Content"><img src="../static/tarot_for_Andrey/{{Third_Card_Old}}" width="200px">
                </div>
            </td>
        </tr>
        <tr class="Table_Strochka_Names">
            <td class="Taro_Name">
                <details>
                    <summary>{{Slovar[First_Card_Old]}}</summary>
                    <p>{{first_ai_old}}</p>
                </details>
            </td>
            <td class="Taro_Name">
                <details>
                    <summary>{{Slovar[Second_Card_Old]}}</summary>
                    <p>{{second_ai_old}}</p>
                </details>
            </td>
            <td class="Taro_Name">
                <details>
                    <summary>{{Slovar[Third_Card_Old]}}</summary>
                    <p>{{third_ai_old}}</p>
                </details>
            </td>
        </tr>
        <p>{{general_ai_old}}</p>
    </table>
</div>
{% endblock %}

